body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.libros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.libro-item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
}

.libro-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.libro-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.libro-item a:hover {
    background-color: #0056b3;
}
/* img CEM libro portadas
.img-horizontal img {
    width: 100%;
    height: auto;
    object-fit: contain; 
}

.img-vertical img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
*/